.chap-card {
  text-align: center;
  align-items: center;
  border: 0.5rem dotted rgb(46, 29, 19);
  margin: 1rem;

  a {
    text-decoration: none;
  }

  .chap-title {
    color: rgb(3, 153, 212);
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px rgb(164, 214, 255);
  }

  p {
    font-size: 1.25rem;
    font-weight: 600;
    color: $omni-ink;
  }
}

// This is just for now to make a text be this font. Can delete once everything is set-up better.
.font-insert {

  p {
    font-size: 1.25rem;
    color: $omni-ink;
  }

  li {
    font-size: 1.25rem;
    color: $omni-ink;
  }
}
