.chap-card {
  text-align: center;
  align-items: center;
  margin: 1rem;
  border-bottom: 2px dashed black;

  a {
    text-decoration: none;
  }

  .chap-date {
    font-size: 0.75rem;
    margin: 0;
    border-bottom: 2px solid black;
    color: black;
  }

  .chap-title {
    color: rgb(3, 153, 212);
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px rgb(164, 214, 255);
    margin: 0.25rem;
  }

  p {
    font-size: 1rem;
    font-weight: 600;
    color: $omni-ink;
  }
}

.test-sticky {
  background-color: white;
  position: absolute;
  margin: 2rem;
  width: 80px;
  height: 50px;
}

// This is just for now to make a text be this font. Can delete once everything is set-up better.
.font-insert {

  p {
    font-size: 1.25rem;
    color: $omni-ink;
  }

  li {
    font-size: 1.25rem;
    color: $omni-ink;
  }
}
