/* ENTIRE FILE */
.character-file {
  position: relative;
  width: 100%;
  max-width: 700px;
  height: calc(100dvh - 200px);
  margin: 0 auto;
  margin-top: 2%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.35);

}

/* CHARACTER TABS */
.character-tab {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

}




/* TOP SECTION */
.char-sheet-top {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 180px;

  background-image: url("char-sheet-top-fixed.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2100;
}



/* STRETCHY BOTTOM */
.char-sheet-bottom {
  position: absolute;
  top: 180px;
  left: 0;

  width: 100%;

  min-height: 600px;

  background-image: url("char-sheet-bottom-stretchy.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5% 5%;

  box-sizing: border-box;

  z-index: 2;
}


/* TITLE */
.character-file .medieval-title {
  position: absolute;

  background-image: url("medieval-title.png");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;

  text-align: center;

  z-index: 4;
}


/* DROPDOWN */
.char-sheet-dropdown {
  position: absolute;

  top: 0;
  left: 5%;

  width: 10%;
  height: auto;

  z-index: 3000;
}

.char-sheet-top .dropdown-menu {
  top: 50px !important;
  right: auto !important;
  transform: none !important;

  z-index: 3000;
}

/* PORTRAIT */
.character-portrait {
  width: 55%;
  height: auto;
}

.character-portrait img {
  width: 100%;
  height: auto;
  display: block;
}


/* TABS DIV*/
.character-tabs {
  position: absolute;

  top: 190px;
  right: -60px;

  display: flex;
  flex-direction: column;

  z-index: 1;
}


/* INDIVIDUAL TAB (small tab graphic)*/
.char-sheet-tab {
  width: 80px;
  height: 150px;
  background-color: transparent;

  background-image: url("char-sheet-tab.png");
  background-repeat: no-repeat;
  background-position: center;
      background-size: contain;
  border: none;
  outline: none;
  z-index: 2;
}

/*Back btn*/
.back-button-container {
  position: absolute;
  z-index: 10;

  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;

  bottom: -80px;
}

/*save edits btn*/
.save-btn {
  position: absolute;
  z-index: 5000;

  left: calc(50% + 150px);
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
}

// show page portrait, desc
.character-show-portrait,
.character-show-description {
  margin:auto;
}

.character-show-description {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.character-show-description .parchment-container {
  width: 100%;
  box-sizing: border-box;
}

.character-info-container {
  width: 100%;
}

.character-description-input {
  width: 100%;
  min-height: 300px;
  padding: 1.5rem;
  box-sizing: border-box;

  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;

  font-family: $quill-font;
  font-size: 1.25rem;
  color: $omni-ink;
  resize: vertical;
}
.character-edit-form {
  width: 60%;
    margin: 0 auto;

}

// edit page

.character-edit-form .edit-parchment {
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem;
}

.character-edit-form .character-description-input {
  display: block;
  width: 100%;
  min-height: 300px;
  box-sizing: border-box;
// box sizing = total size (width + padding)

  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;

  font-family: $quill-font;
  font-size: 1.25rem;
  line-height: 1.6;
  color: $omni-ink;

  resize: vertical;
}

// zoom on character sheet modal css
.character-sheet-image {
  max-height: 550px;
  object-fit: contain;
  border-radius: 8px;
  cursor: zoom-in;
  // shows magnifying glass cursor with + /- on hover
  transition: transform 0.3s ease;
}

.character-sheet-image.zoomed {
  transform: scale(2.0);
  cursor: zoom-out;
}

.character-sheet-modal-content {
  overflow-y: auto
}

// cards on hp
.card-body {
  margin: 1rem 0;
  border-image: asset_url("image-border.png");
  border-image-slice: 70 70 70 70 fill;
  border-image-width: 1.5rem;
  border-image-outset: 1.5rem;
  border-image-repeat: stretch stretch;
}


/* MOBILE */
@media (max-width: 600px) {

  .character-file {
    position: relative;
    width: 80%;
    max-width: 700px;



    margin: 80px auto 20px;

    box-sizing: border-box;
    min-height: 250px;
    padding: 5% 0;
  }

  .character-tabs {
    top: -10%;
    right: 6%;

    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .medieval-title {
    width: 85%;

    h1 {
      font-size: 2.5rem;
    }
  }

  .character-portrait {
    width: 70%;
    position: relative;

  }

  .char-sheet-tab {
    transform: rotate(270deg) scale(0.75);
  }

    .character-sheet-image {
    width: 90%;
    height: auto;
    max-height: 90%;
    object-fit: contain;
  }

}


@media (max-width: 1000px) {

  .character-show-portrait {
    width: 85%;
  }

  .character-show-description {
    width: 95%;
  }

  .character-show-description .parchment-container {
    width: 100%;
  }
}
