.character-file {
  position: relative;
  width: 100%;
  max-width: 700px;
  height: calc(100dvh - 70px);
  margin: 0 auto;
}

.character-tab {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.char-sheet-top {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 180px;

  background-image: url("char-sheet-top-fixed.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  z-index: 2;
}

.char-sheet-bottom {
  position: absolute;
  top: 180px;
  left: 0;

  width: 100%;
  height: calc(100% - 180px);

  background-image: url("char-sheet-bottom-stretchy.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  z-index: 1;
}

.char-sheet-tab {
  position: absolute;
  top: 190px;
  right: -80px;

  width: 80px;
  height: 150px;

  background-image: url("char-sheet-tab.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  z-index: 1;

  transform: translateX(-20px);
}
.medieval-title {
  position: absolute;



  background-image: url("medieval-title.png");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;

  text-align: center;
  z-index: 4;
}

// .medieval-title.char-sheet-bottom h1 {
//   font-size: 3rem;
//   margin: 0;
// }

// .character-portrait {
//   position: relative;
//   z-index: 2;

//   top: 20%;
//   left: 42%;
//   transform: translateX(-50%);

//   width: 200px;
//   height: 250px;
// }

// .character-portrait img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }




@media (max-width: 1000px) {
  .medieval-title {
    width: 70%;
    h1{
      font-size: 4rem;
    }
  }

}

@media (max-width: 600px) {
  .medieval-title{
    width: 85%;
    h1{
      font-size: 2.5rem;
    }
  }
}
