// Specific CSS for your home-page
.character-portrait {
  height: 100%;
}

.character-text-page-container {

  font-family: "Cinzel";
  font-size: 18px;
  line-height: 32px;

  min-height: 1000px;
  width: 100%;
  max-width: 700px;
  padding: 40px;
  margin: 2rem auto;
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);

  background-color: #f4ebd0;
  background-image:
    radial-gradient(ellipse at 28% 18%, rgba(255,255,255,0.18) 0%, transparent 45%),
    radial-gradient(ellipse at 72% 75%, rgba(0,0,0,0.1) 0%, transparent 40%),
    radial-gradient(ellipse at 15% 85%, rgba(0,0,0,0.07) 0%, transparent 35%),

    linear-gradient(145deg, #f5e3af 0%, #e6d5b8 55%, #fcdc7f 80%, #d4c1a1 100%);
}

.character-text-page-container,
.character-text-page-container h2,
.character-text-page-container p {
  font-family: 'IM fell English', cursive;
}

.character-text-page-container h1 {
  font-family: "Cinzel";
}

.character-portrait{
  position: relative;
  display: inline-block;
  background-color: #f4ebd0;

  /* page gradient */
  background-image:
    radial-gradient(circle 300px at 25% 20%, rgba(255, 255, 255, 0.6) 0%, transparent 100%),
    radial-gradient(circle 400px at 80% 85%, rgba(139, 94, 60, 0.25) 0%, transparent 100%),
    radial-gradient(circle 250px at 10% 90%, rgba(0, 0, 0, 0.15) 0%, transparent 100%),
    linear-gradient(145deg, #fbf5e6 0%, #e6d3b3 50%, #d9bf96 100%);

  padding: 15px; /* border around the picture */
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  border-radius: 4px;
}

/* The layer that forces the paper texture onto image */
.character-portrait img {
  display: block;
  max-width: 100%;
  height: auto;

  /*  This merges the image into the background canvas behind it */
  mix-blend-mode: multiply;

  filter: sepia(0.6) contrast(1.3) brightness(0.90);
}

.preview-left-margin {
  right: 105%; /* Pushes the element outside the left edge of the form */
  width: 350px; /* Set a fixed width for your preview image container */
}

.preview-right-margin {
  left: 105%; /* Pushes the element outside the left edge of the form */
  width: 350px; /* Set a fixed width for your preview image container */
}

.fade-effect{
  opacity: 0;
  visibility: hidden;

  transition: opacity 1s ease, visibility 1s ease;
}

.fade-effect.active{
  opacity: 1;
  visibility: visible;
}

.page-fade-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 9999; /* forces on top of everything */
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

.page-fade-container.hidden{
  opacity: 0;
}

.page-fade-container.fade-out-active {
  opacity: 1;
  pointer-events: auto;
}



.magic-text {

  background: linear-gradient(45deg, #ff007f, orange , #7f00ff, green, #00f0ff, #ff007f);
  background-size: 300% 300%;

  background-clip: text;

  color: transparent;


  display: inline-block;
  transform-origin: center;



  animation:
    colorCycle 2.5s ease infinite,
    textPulse 1.5s ease-in-out infinite;
}


@keyframes colorCycle {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


@keyframes textPulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.custom-file-input {
  background-color: #f5e7c9 !important; /* Soft cream background for the text slot */
  color: #5c2c16 !important;             /* Dark brown color for the "No file selected" text */
  border: 2px solid rgb(168, 151, 102) !important;    /* Clean brown border around the whole element */
}

.custom-file-input::file-selector-button {
  background-color: rgb(143, 138, 96) !important; /* Changes button background */
  color: white !important;             /* Changes text inside button */
  border-color: rgb(155, 94, 54) !important;      /* Cleans up the button outline */
}


.btn-custom {
    background-color: rgb(143, 138, 96);
    border-color: rgb(143, 138, 96);
    color: white;
}
.btn-custom:hover {
    background-color: rgb(143, 138, 96);
    border-color: rgb(143, 138, 96);
    color: white;
  }

.btn-ai-custom{
  min-width: 300px;
  background: linear-gradient(45deg, #ff007f,#7f00ff, #00f0ff, #ff007f);
  background-size: 300% 300%;
  background-color: transparent;
  border: none;
  animation:
  colorCycle 2.5s ease infinite,
}



  // campaign-book section
.campaign-book {
  height: auto;
  width: 25%;
  padding: 1.5rem;
  margin: 1rem 1rem ;
  border-image: asset_url("book-border.png");
  border-image-slice: 85 60 85 60 fill;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 5px;
  border-image-repeat: stretch stretch;
  border-radius: 1.5rem;
  box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.75);
  position: relative;

  .campaign-image {
    width: 100%;
    border-image: asset_url("image-border.png");
    border-image-slice: 70 70 70 70 fill;
    border-image-width: 1.5rem;
    border-image-outset: 1.5rem;
    border-image-repeat: stretch stretch;
  }

  img {
    border-radius: 1rem;
    width: 100%;
  }

  a {
      text-decoration: none;
  }

  .book-title {
    width: 100%;
    margin-top: 1.25rem;
    padding: 0.5rem;
    border-image: asset_url("text-border.png");
    border-image-slice: 70 70 70 70 fill;
    border-image-width: 1.5rem;
    border-image-outset: 0.5rem;
    border-image-repeat: stretch stretch;
    text-align: center;
    font-family: $pixel-font;
    font-size: 2.5rem;
    color: $omni-ink;
  }
}

.list-group-brown {
  background-color: #d4c1a1;
  border-radius: 6px;
}

.navbar-book {
  position: absolute;
  top: -1rem;
  right: -1rem;
  width: 5rem;
}

#navbarDropdown {

  #bookmark-dropdown {
    transition: 0.2s ease;

    &:hover {
      filter: brightness(1.3);
    }

    &:active {
      filter: brightness(1.3);
    }

    &:focus {
      filter: brightness(1.3);
    }
  }
}

.dropdown-menu {
  padding: 1rem;
  background: none;
  border-image: asset_url("text-border.png");
  border-image-slice: 70 70 70 70 fill;
  border-image-width: 1.5rem;
  border-image-outset: 0 0.6rem 0.5rem 0;
  border-image-repeat: stretch stretch;
  box-shadow: 8px 8px 8px black;
  animation: 0.4s showup;

  .image-form {
    width: 15rem;
    text-align: center;

    .hidden {
      display: none;
    }

    .file_field {
      width: 2rem;
      padding: 0.75rem 1rem;
      position: relative;

      img {
        position: absolute;
        top: -1.5rem;
        left: -6rem;
        width: 4rem;
        object-fit: cover;
        cursor: pointer;
      }

      #upload-text {
        position: absolute;
        top: 0;
        left: -4rem;
        width: 15rem;
        font-size: 0.9rem;
        cursor: pointer;
      }
    }
  }
}

@keyframes showup {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@media (max-width: 1500px) {

  .campaign-book {
    width: 40%;

    .book-title {
      font-size: 2rem;
    }
  }


}

@media (max-width: 600px) {

  .campaign-book{
    width: 90%;

    .book-title {
      font-size: 1.75rem;
    }
  }


}
