.qr-code {
  position: relative;
  width: 90vw;
  max-width: 750px;
  aspect-ratio: 1 / 1;
  background-image:
    url("qr-rune.png");
    background-size:
    cover;


}

.qr-code svg {
width: 100%;
padding: 6rem;
}

@media (max-width: 600px) {
  .qr-code svg {
    width: 100%;
    height: auto;
    margin: 0 auto;
    transform: translate(0%, 20%);
  }
}
