.qr-code {
  position: relative;
  width: 90vw;
  max-width: 750px;
  aspect-ratio: 1 / 1;
}
.rune-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-right: 5%;
}

.qr-svg {
  position: absolute;
  top: 38%;
  left: 40%;

  transform: translate(-27%, -25%);
}

@media (max-width: 600px) {
  .qr-code {
    width: 90vw;
    height: auto;
  }

  .qr-svg {
    width: 50%;
    height: 50%;
  }
}
