.qr-code {
  position: relative;
  max-width: 750px;

}
.rune-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-right: 5%;
}

.qr-svg {



}

@media (max-width: 600px) {
  .qr-code {
    width: 90vw;
    height: auto;
  }


}

svg, img {
  width: 90%;
  height: auto;
}
