.animate-button {
  width: 5rem;
  height: 5rem;
  position: relative;

  img {
    width: 5rem;
  }

  #invite-text {
    position: absolute;
    top: 20%;
    left: 100%;
    font-size: 1.25rem;
  }

  .animate-move-icon {
    display: none;
  }

  &:hover {

    .animate-icon {
      display: none;
    }

    .animate-move-icon {
      display: inline;
    }
  }
}

.button-navbar {

  width: 3rem;
  height: 3rem;

  img {
    width: 3rem;
  }

  .move-icon-navbar {
    display: none;
  }

  &:hover {

    .icon-navbar {
      display: none;
    }

    .move-icon-navbar {
      display: inline;
    }
  }
}

.edit-submit-button {
  width: 6rem;
  height: 6rem;
  background-image: asset_url("Edit-icon.png");
  background-size: cover;

  &:hover {
    background-image: asset_url("Edit-icon.gif");
  }
}

.edit-back-button {
  width: 6rem;
  height: 6rem;
  background-image: asset_url("Home-icon.png");
  background-size: cover;

  &:hover {
    background-image: asset_url("Home-icon.gif");
  }
}
