.animate-button {
  width: 5rem;
  height: 5rem;
  position: relative;

  img {
    width: 5rem;
  }

  #invite-text {
    position: absolute;
    top: 20%;
    left: 100%;
    font-size: 1.25rem;
  }

  .animate-move-icon {
    display: none;
  }

  &:hover {

    .animate-icon {
      display: none;
    }

    .animate-move-icon {
      display: inline;
    }
  }
}

.animate-button-dropdown {
  width: 3.5rem;
  position: relative;
  padding: 0;
  margin-left: 0.5rem;

  img {
    width: 100%;
  }

  #invite-text {
    position: absolute;
    top: 20%;
    left: 120%;
    font-size: 1.25rem;
  }
}

.button-navbar {

  width: 3rem;
  height: 3rem;

  img {
    width: 3rem;
  }

  .move-icon-navbar {
    display: none;
  }

  &:hover {

    .icon-navbar {
      display: none;
    }

    .move-icon-navbar {
      display: inline;
    }
  }
}

// Start of general button animations ------------------------------

.edit-submit-button {
  width: 6rem;
  height: 6rem;
  background-image: asset_url("Edit-icon.png");
  background-size: cover;

  &:hover {
    background-image: asset_url("Edit-icon.gif");
  }
}

.back-button {
  width: 6rem;
  height: 6rem;
  margin: 0 1em;
  padding: 0;
  background-color: transparent;
  border: none;
  background-image: asset_url("back-icon.png");
  background-size: cover;

  &:hover {
    background-image: asset_url("back-icon.gif");
  }
}

// End of general button animations ---------------------------------


// Start of general button animations' @media ------------------------------

@media (max-width: 1000px) {

  .back-button {
    background-image: asset_url("back-icon-long.gif");
  }

}

@media (max-width: 600px) {

  .back-button {
    width: 4rem;
    height: 4rem;
  }

}

// End of general button animations' @media ------------------------------
