.summary-toggle[open] summary {
  display: none;
}

.summary-toggle {
  summary {
    list-style: none;
    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      content: " ▼";
    }
  }
}
