// Bookshelf container section

.bookshelf-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 1rem;
}

// Parchment-container section

.parchment-container {
  height: auto;
  width: 60%;
  padding: 1.5rem;
  border-image: asset_url("parchment-leather-border.png");
  border-image-slice: 115 115 115 115 fill;
  border-image-width: 30px 30px 30px 30px;
  border-image-outset: 5px 5px 5px 5px;
  border-image-repeat: round round;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.75);
}

.parchment-container.edit-parchment {
  width: 100%;
  padding: 0;
}

.parchment-container-chap {
  height: auto;
  width: 60%;
  padding: 1.5rem;
  border-image: asset_url("parchment-leather-border.png");
  border-image-slice: 115 115 115 115 fill;
  border-image-width: 30px 30px 30px 30px;
  border-image-outset: 5px 5px 5px 5px;
  border-image-repeat: round round;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.75);
}

.book-page-container {
  height: auto;
  width: 60%;
  min-height: 400px;
  padding: 0 0.5rem;
  align-content: center;
  border-image: asset_url("open-book-border.png");
  border-image-slice: 80 80 90 80 fill;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 5px;
  border-image-repeat: stretch round;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.75);

    #no-chapters {
    margin: 0;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: $omni-ink;
  }
}

// Media queries (responsive webpage) section

@media (max-width: 1500px) {

  .bookshelf-container {
    width: 90%;
  }

  .parchment-container {
    width: 75%;
  }

  .parchment-container-chap {
    width: 75%;
  }

  .book-page-container {
    width: 75%;
  }

}

@media (max-width: 600px) {

  .parchment-container {
    width: 90%;
  }

  .parchment-container-chap {
    width: 92.5%;
    padding: 1.5rem 0;
  }

  .book-page-container {
    width: 90%;
    min-height: 300px;
  }

}
