.navbar-lewagon {
  justify-content: space-between;
  background-image: asset_url("parchment-leather-border.png");
  background-size: 105%;
  background-position: center;
  border-bottom: 5px solid black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 3rem;
  transition: 0.3s ease;
}

.navbar-lewagon .navbar-brand img:hover {
  transform: scale(1.3);
  rotate: -10deg;
}

.navbar-lewagon .navbar-logo {
  height: 3rem;
  transform: scale(1.5);
}

.horizontal-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 600px) {

  .navbar-lewagon .navbar-logo {
    transform: scale(1);
    height: 3.5rem;
  }


  .navbar-lewagon .navbar-logo {
  height: 3rem;
  transform: scale(0.9);
}
}
