// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "chapters/index";
@import "components/collapsible_text";
@import "components/icons";
@import "pages/characters";
@import "pages/invite";
@import "pages/char-sheet-modal";
@import "pages/char-show-page";

// Global CSS to be used

body {
  padding-top: 79px; //navbar height - futureproofing
  padding-bottom: 50px;
  width: 100%;
  min-height: 100vh;
  background-image: asset_url("Back-wall-bricks.png");
  background-repeat: repeat;
  background-size: 20%;
}

.centering {
  display: flex;
  justify-content: center;
}

.medieval-title {
  text-align: center;
  align-content: center;
  width: auto;
  padding: 1rem 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-image: asset_url("title-banner.png");
  border-image-slice: 60 60 60 58 fill;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: round repeat;

  h1, h2, h3 {
    font-family: $pixel-font;
    font-weight: 600;
    font-size: 5rem;
    color: $omni-ink;
  }
}

@media (max-width: 1000px) {

  .medieval-title {

    width: 70%;

    h1, h2, h3{
      font-size: 4rem;
    }
  }
}

@media (max-width: 600px) {

  .medieval-title{

    width: 85%;

    h1, h2, h3{
      font-size: 1.75rem;
    }
  }
}

//quick fix for bookmark dropdown menu
.same-hover2{
  margin: 0;
}

.same-hover:hover > .same-hover2{
  background-color: white;
  z-index: -1000;
  width: 100px;
}

//campaign banner hover

.banner-hover-container:hover .banner-upload-btn {
  opacity: 1 !important;
  transform: scale(1.05);
}

//nav-tab colors
.nav-tabs {
  border-bottom: 1px solid #c1b77a !important;
}


.nav-tabs .nav-link:hover:not(.active) {
  background-color: #c2ba8581 !important;
  border-color: #f2d215 #f2d215 transparent !important;
  color: #000000 !important;
}


.nav-tabs .nav-link.active {
  background-color: #c1b77a!important;
  border-color: #f2d215 #f2d215 transparent !important;
  color: #000000 !important;
}


#character_name_input::placeholder {
  color: #8c7662;
  opacity: 0.7;
}

#character_stats_summary_input::placeholder {
  color: #8c7662;
  opacity: 0.7;
}


// fixes navbar
.nev {
  view-transition-name: navbar;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100vw;
  box-sizing: border-box;
}


/* Mobile Slide-In Effect */

@media (max-width: 767px) {
  .transition-forward::view-transition-old(root) {
    animation: 250ms cubic-bezier(0.4, 0, 0.2, 1) both slide-left;
  }

  .transition-forward::view-transition-new(root) {
    animation: 250ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
  }

  @keyframes slide-left {
    to { transform: translateX(-20%); opacity: 0.6; }
  }

  @keyframes slide-from-right {
    from { transform: translateX(100%); }
  }


  .transition-back::view-transition-old(root) {
    animation: 250ms cubic-bezier(0.4, 0, 0.2, 1) both slide-right;
  }

  .transition-back::view-transition-new(root) {
    animation: 250ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-left;
  }

  @keyframes slide-right {
    to { transform: translateX(20%); opacity: 0.6;}
  }

  @keyframes slide-from-left {
    from { transform: translateX(-100%); }
  }
.force_input textarea::placeholder {
  color: #8c7662;
  opacity: 0.7;
}
